nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 227, 227, 0.438);
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.589);
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #007bff;
}

nav a.active {
  background-color: #007bff;
  color: white;
}

nav a[routerLink="/"].active {
  display: none;
}